
# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/media
/static
company/migrations/0002_auto_20191211_0418.py
company/migrations/0002_auto_20191211_0418.py
company/migrations/0002_auto_20191211_0418.py
company/migrations/0002_auto_20191211_0418.py
pingpong.js
