{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load sass_tags %}
<!--コード書く ここから-->
<head>
  <link rel="stylesheet" type="text/css" href="{% sass_src 'company/companyDetail.scss' %}">
</head>


            <section class="left">　<!--companyのメインと詳細とメディア(写真など)-->


         <!-- ____________________________________________ -->
                  <div class="main">
                       <div class="header_container">
                          <div class="header_photo" style="{}"> <!-- cssでbackground-image -->

                          </div>

                          <div class="verified" style="{}"> <!--  -->

                          </div>
                      </div>

                      <div class="info_container"> <!--  -->
                          <h1>{会社名}</h1> <!-- -->
                          <div class="evaluation" style="{}"> <!--  --> </div>
                          <div class="buttons">
                              <div class="buttons_left">
                                  <div class="bookmark">
                                    <button type="button" class="bookmark_logo"></button>
                                  </div>
                                  <div class="share">
                                  </div>
                              </div>
                              <div class="buttons_contact">

                              </div>


                          </div>

                      </div>


                  </div>
         <!-- ____________________________________________ -->

                  <div class="detail">

                  </div>
         <!-- ____________________________________________ -->
                  <div class="media">

                  </div>
<!-- ___________________________________________________________________ -->
            </section>






            <section class="right">　<!--レビュー-->

                  <div class="level b review">
                  </div>

              <!--    <div class="level b media">
              </div> -->

            </section>


             <!--companyのSNS投稿-->





<!--コード書く ここまで-->

{% endblock %}
