.codehere {
  width:80%;
  display: flex;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;


}
section {
 border-color: #999;
 border-style: solid;
 border-width: 1px;
 height: auto;
 flex-basis: 300px;
 flex-grow: 1;
 flex-shrink: 0;
 max-width: 500px;
 padding: 10px;


}
.left {
 margin-right: 20px;
}

.level.b {
 background-color: white;


}

body{

}

.main {
  height: auto;
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 450px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0.2px 0.2px 4px #00000040;
}

.header_container {
height: 300px;
}
.header_photo {
  background:url('/static/company/okuridashi_sample.jpg') no-repeat;
  height: -webkit-fill-available;
}

.info_container_top {
  display: flex;
}
 .company_name {
  margin-left: 5%;
}

.brief_description {
  margin-left: 10px;
  margin-right: 10px;

}

.evaluation {
  margin: auto;
  color: orange;
}
