#showcase{
  min-height: 200px;
  background:url("/static/company/rainbow.jpg") no-repeat 0 -400px;
  background-size:cover;
  background-position: center;
  text-align:center;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase h1{
  margin-top: 70px;
  font-size: 55px;
  margin-bottom: 15px;

}

#showcase p{
  font-size: 20px;
}


div.form-box{
background: rgba(255, 225, 225, 0.5);
padding: 10px 10px;
margin-bottom: 10px;
margin-bottom: 10px;
width: fit-content;
margin: auto;

}

      .search-field{
        height: 10px;
        padding: 10px;
      }
      .skills{
        width: 350px;
      }
      .location{
        width: 150px;
      }
      .search-btn{
        height: 35px;
        width: 100px;
        background: #f44336;
        border: none;
        color: #fff;
      }
      .search-btn:hover{
        background: #bb0d00;
        cursor: pointer;
      }




  div.bodyline{
    height: 10px;
    background-color: #dc8b8b;
  }

#articlecontainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

      div.article{
        height: 300px;
        margin-top: 20px;
        flex-basis: 300px;
        background-color: white;
      }

      img{
       margin-left: 0px;
       margin-right: 0px;
      }

      h3.article{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;

      }

      p.article{
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
